.link_list{
    padding: 0;
}

.link-list-item {
    text-align: left;
    font-size: 15px;
    font-family: Source Sans Pro;

  }
  
  .link-list-item-url {
    text-decoration: none;
    margin: 6px;
    display: block;
    color: #ffffff;
    background-color: #461C3F;
    padding: 8px;
    border-radius: 3px;
    box-shadow: 2px 2px 4px rgba(255, 255, 255, 0.4);
  }
