.App {
  text-align: center;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: rgb(255, 255, 255);
}

/**If properties are already created in react-chatbot-kit, then we are unable to overwrite it.
If they are not, then we can add the css property. 
Example: width: 600px does NOT overwrite, but font-weight DOES.
*/
.react-chatbot-kit-chat-container {
  width: 600px;
  font-weight: bold; 
}

.react-chatbot-kit-chat-bot-message {
  text-align: left;
  font-size: 15px;
  font-family: Source Sans Pro;

}
/*need to find class in react chatbot that changes style of chatbot box*/
.react-chatbot-kit-chat-bot {
  background: #F2F2F2;
  border: 0.4px solid #3B7A71;
  box-sizing: border-box;
  border-radius: 12px;
}
