.App {
  text-align: center;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: rgb(255, 255, 255);
}

.chat-container {
  position: relative;
  width: 275px;
}

.chat-inner-container {
  height: 500px;
  background-color: #fff;
  border-radius: 3px;
  margin-bottom: 15px;
  border-radius: 5px;
}

.message-container { 
  padding: 0 17.5px 10px 17.5px;
  overflow: scroll;
  height: 424px;
}

.bot-avatar 

.bot-avatar-container

.bot-avatar-letter

.bot-message

.chat-header {
  border-top-right-radius: 5px;
  border-top-left-radius: 5px;
  background-color: #efefef;
  font-family: Arial;
  display: flex;
  align-items: center;
  font-size: 0.85rem;
  color: #514f4f;
  padding: 12.5px;
  font-weight: bold;
}
.input-container {
  position: absolute;
  bottom: 0;
  width: 100%;
  display: flex;
}

.bot-arrow

/* Deleting css styling from npm package react-chatbot-kit**/
.react-chatbot-kit-chat-container {
  display: none;
}
.react-chatbot-kit-chat-inner-container{
  display:none;
}

.react-chatbot-kit-chat-bot-message-container {
  display: none;
}

.react-chatbot-kit-chat-input-container {
  display:none;
}
/**
.react-chatbot-kit-chat-bot-message {
  display: none;
}
*/

  /**
  background: #F2F2F2;
  border: 0.4px solid #3B7A71;
  box-sizing: border-box;
  border-radius: 120px;
  */

  /*color: #4F4F4F;
  text-align: left;
  font-size: 15px;
  font-family: Source Sans Pro;*/
  
  /**height: 500px;
  background-color: #4F4F4F;
  border-radius: 3px;
  margin-bottom: 15px;
  border-radius: 5px;
  border: 10px solid #3B7A71;
  */

